<!doctype html>
<html>
  <head>
    <met charst="utf-8">
      <title>labo</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <style type="text/css">
        #title { width: 400px; }
        #content { width: 400px; height: 400px; }
      </style>
  </head>
  <body>
    <a href="http://circularuins.dyndns.org:3001/">go back to heaven...</a>
    <form action="/entry/create" method="post">
      <label for="title">Title:</label><br />
      <input id="title" name="title" type="text" value="[% title|escape %]" /><br />
      <label for="content">Content:</label><br />
      <textarea id="content" name="content">[% content|escape %]</textarea><br />
      <input type="submit">
    </form>

[% FOR entry IN entries %]
    [% entry.id %]. [% entry.title %]. [% entry.body %]. [% entry.ctime_obj.strftime('%Y-%m-%d(%a) %H:%M') %]<br />
[% END %]

  </body>
</html>
